/* Flex Utilites */
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
/* Flex Alignment Utilities */
.justify-center {
  justify-content: center;
}
/* Margin Utilites */

/* With Utilites */
.w-full {
  width: 100%;
}

/* Spacing Utilities */

/* Text Utilites */
.text-center {
  text-align: center;
}
